* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: sans-serif;
    font-size: 12px;
    color: hsl(240, 6%, 50%);
    background-image: linear-gradient(
        to top,
        hsl(240, 73%, 65%),
        hsl(273, 75%, 66%)
    );
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container {
    position: relative;
    height: 70vh;
    max-width: 1440px;
    min-width: 50vw;
    background-color: white;
    margin: 0 auto;
    border-radius: 20px;
}

.grid-container {
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    overflow: hidden;
}

.left-image {
    position: relative;
    background-image: url("images/bg-pattern-desktop.svg");
    background-repeat: no-repeat;
    background-size: 966px 200%;
    background-position-x: -70vh;
    background-position-y: 60%;
}
.bg-image {
    position: relative;
    width: 100%;
    right: 500px;
}
.woman-image {
    width: 472px;
    position: relative;
    top: 50%;
    transform: translate(-75px, -50%);
}
.box {
    position: absolute;
    top: 50%;
    transform: translate(-93px, -30%);
    z-index: 1;
}

/* fAQ */
.faq {
    margin: auto 0;
    height: 70%;
    grid-column: span 1;
}
.faq h1 {
    color: hsl(237, 12%, 33%);
    margin-bottom: 10px;
}
.questions {
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.question {
    border-bottom: 1px solid hsl(240, 5%, 91%);
    padding-bottom: 15px;
}
.question p {
    display: flex;
    justify-content: space-between;
}
.text {
    color: hsl(237, 12%, 33%);
    font-weight: 700;
}
.arrow img {
    display: inline-block;
    margin-left: auto;
}

.answer {
    display: none;
}

.ans p {
    padding-top: 10px;
}

.ans {
    display: contents;
    transition: 1s ease-in-out;
}

.rotate {
    transform: rotateX(180deg);
}

@media (max-width: 1224px) {
    .container {
        width: 75vw;
    }
}

@media (max-width: 924px) {
    .container {
        width: 85vw;
    }
}

@media (max-width: 800px) {
    .woman-image {
        width: 375px;
        transform: translate(-50px, -50%);
    }
}
.small-woman-box {
    display: none;
}

@media (max-width: 680px) {
    .box,
    .woman-image {
        display: none;
    }

    .small-woman-box {
        display: inline-block;
        position: absolute;
        top: -110px;
        left: 45%;
        transform: translate(-50%, 0px);
    }

    .left-image {
        grid-column: span 2;
        /* background-image: none; */
        background-image: url("images/bg-pattern-mobile.svg");
        /* position: relative; */
        background-size: 100% 100%;
    }

    .faq {
        width: 80%;
        grid-column: span 2;
        justify-self: center;
        margin-top: 0;
        margin-bottom: 0;
    }

    .faq .questions {
        width: auto;
    }
}
